.image{
    width: 100%;
    height: 500px;
}
.carousel-control-next-icon{
    visibility: hidden;
}
.carousel-control-prev-icon{
    visibility: hidden;
}
.carousel{
    width: 95%;
    height: 500px;
    position: relative;
    top: 100px;
    margin-left: 45px;
}

.vision-card {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.50s ease-in-out;
    background: rgba(250, 247, 247, 0.2);
    backdrop-filter: blur(5px);
  }
  
  .vision-body {
    opacity: 0.8;
    transition: opacity 0.4s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .vision-title {
    font-weight: bold;
    font-size: 24px;
  }
  
  .vision-text {
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
  
  .vision-card:hover .vision-body {
    opacity: 1;
    transform: scale(1.05);
  }
  
  .vision-card:hover .vision-text {
    opacity: 1;
}